.button-container{
  width: 100%;
}

.btn-primary{
padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 30%;
}

.btn-secondary{
  width: 30%;
  padding: 12px 0;
    color: #fff;
    background-color: transparent;
    border: 2px solid #10a37f;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}