@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.heading {
  margin-bottom: 40px;
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.main .icon {
  height: 75px;
  width: auto;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #212529;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #212529;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #1d2671;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.main input[type="submit"]::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1d2671;
  left: 0;
  top: 0;
  border-radius: 100px;
  opacity: 0.9;
}

.main input[type="submit"]::before {
  content: "";
  background: linear-gradient(
    45deg,
    #007bff,
    #6610f2,
    #6f42c1,
    #e83e8c,
    #dc3545,
    #fd7e14,
    #ffc107,
    #28a745,
    #20c997,
    #17a2b8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -2;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 100px;
}

.main input[type="submit"]:hover:before {
  opacity: 1;
}

.main input[type="submit"]::after {
  z-index: -2;
}

.main input[type="submit"]:hover {
  animation: pulse 2s infinite !important;
}

.main .result {
  font-weight: 400;
  margin-top: 70px;
  max-width: 500px;
  padding: 30px 20px;
  border: 1px solid #1d2671;
  border-radius: 4px;
  font-style: italic;
  text-align: justify;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}

.btnPrimary {
  box-sizing: content-box;
  padding: 12px 0;
  color: #fff;
  background-color: #1d2671;
  border: 1px solid #1d2671;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 45%;
  transition: all 0.25s ease-out;
}

.btnPrimary:hover {
  transition: all 0.25s ease-out;
  background-color: #2d3689;
  border-color: #2d3689;
}

.btnSecondary {
  box-sizing: content-box;
  width: 45%;
  padding: 12px 0;
  color: black;
  background-color: white;
  border: 1px solid #1d2671;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.btnSecondary:hover {
  border: 1px solid #2d3689;
  transition: all 0.25s ease-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(29, 38, 113, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(29, 38, 113, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(29, 38, 113, 0);
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
